<app-header>
  <nav class="navigation">
    <ul class="navigation__list">
      <li><a routerLink="/login" routerActiveLink="active">Login</a></li>
      <li><a routerLink="/registration">Registration</a></li>
      <li><a routerLink="/courses/add">Add Course</a></li>
      <li><a routerLink="/courses">Courses</a></li>
    </ul>
  </nav>
  <div class="header-login">
    <span>User name</span>
    <app-button (click)="onOpenLogin()" text="LOGIN"></app-button>
  </div>
</app-header>
<div class="app-root">
  <main>
    <router-outlet />
  </main>
  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
